<ng-container *ngIf="loaded">
    <br />
    <p>{{ instruction }}<b>{{ data.name }}</b></p>
    <div>
        <table class="table table-hover mt-4">
            <thead>
                <tr>
                    <th>Description</th>
                    <th class="text-center">Allocated Quantity</th>
                    <th class="text-center">Packed Quantity</th>
                    <th class="text-center">Packed</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data.packedItems; let itemIndex = index">
                    <td>{{ item.description | split:'-':'0' }}<span *ngIf="item.description.includes('Halal')"> ({{ item.description | split:'-':'2' }})</span> - {{ item.description | split:'-':'1' }} <span class="fas fa-info-circle" matTooltip="Category [ {{ item.category }} ] , Classification [ {{ item.classification }} ]" matTooltipPosition="above"></span></td>
                    <td class="text-center">{{ item.allocatedQuantity }}</td>
                    <td>
                        <div class="dropdown input-wrapper">
                            <select [(ngModel)]="item.quantity" class="w-100" (change)="onUpdate(item, itemIndex)">
                                <option *ngFor="let i of getQuantities(item.allocatedQuantity)">{{ i }}</option>
                            </select>
                        </div>
                    </td>
                    <td class="text-center">
                        <label>
                            <input type="checkbox" [(ngModel)]="item.packed" (change)="onUpdate(item, itemIndex)"/>
                            <span class="label-text"></span>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-secondary btn-std pull-left" (click)="onPrev()"><span class="fas fa-fw fa-angle-left"></span> Prev</button>
    <button class="btn btn-success pull-right" (click)="onNext()" [disabled]="!validatePackingList()">Next <span class="fas fa-fw fa-angle-right"></span></button>
</ng-container>
