<div style="overflow-y:auto; max-height: 90vh">
    <h4 class="modal-title">Change Password</h4>
    <div class="modal-content">
        <div class="modal-input">
            <label>Old Password* </label>
            <input type="password" [(ngModel)]="oldPassword" (focus)="onTouched('oldPassword')"/>
            <span *ngIf="touched.oldPassword && oldPassword?.length === 0" class="error-msg">Please enter your old password!</span>
        </div>
        <div class="modal-input">
            <label>New Password* </label>
            <input type="password" [(ngModel)]="newPassword" (focus)="onTouched('newPassword')"/>
            <span *ngIf="touched.newPassword && newPassword?.length === 0" class="error-msg">Please enter your new password!</span>
            <span *ngIf="touched.newPassword && newPassword?.length > 0 && newPassword?.length < 8" class="error-msg">Please enter at least 8 characters!</span>
            <span *ngIf="touched.newPassword && oldPassword === newPassword && newPassword?.length >= 8" class="error-msg">Please enter a different password from your old password!</span>
        </div>
        <div class="modal-input">
            <label>Confirm New Password* </label>
            <input type="password" [(ngModel)]="confirmPassword" (focus)="onTouched('confirmPassword')"/>
            <span *ngIf="touched.confirmPassword && confirmPassword?.length === 0" class="error-msg">Please confirm your new password!</span>
            <span *ngIf="touched.confirmPassword && confirmPassword?.length !== 0 && newPassword !== confirmPassword" class="error-msg">Your new password does not match!</span>
        </div>
    </div>
    <div class="modal-action">
        <button class="btn btn-secondary btn-std" (click)="onCancel()">Cancel</button>
        <button class="btn btn-success" (click)="onConfirm()" [disabled]="invalidForm()">Confirm</button>
    </div>
</div>
